body{

font-family:Arial;

margin:40px;

}

label{

display:block;

margin-top:12px;

font-weight:600;

}

input{

width:320px;

padding:8px;

margin-bottom:10px;

}

button{

padding:10px;

margin-right:10px;

background:#2c7be5;

color:white;

border:none;

cursor:pointer;

}

#message{

margin-top:20px;

font-weight:600;

color:green;

}
